<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" integrity="sha512-57lHfvbE5GLWA20qDTCTRUpKntBnFlG0V+x8f3q3DqZK6XlHGVsbpCCI/kadtaFBMEYmq5IeVZnsWjWx2QoQtw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Documento</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" style="font-size: 20pt;"> <i class="fa-solid fa-newspaper"></i> Painel de Controle</a>
        <form class="form-inline" id="logoutForm">
            <input class="btn btn-info my-2 my-sm-0 mx-1 mx-sm-3 mx-md-3" type="button" value="Minha Conta">
            <input class="btn btn-success my-2 my-sm-0 mx-1 mx-sm-2 mx-md-2" type="button" value="Sair">
        </form>
    </nav>

    
</body>
</html>