<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Tabelas</title>
</head>
<body>
    <form action="../model/create_table.php" method="post">
        <button><a href="../index.html">Voltar ao Login</a></button>
        <hr>
        <h2>Tabelas</h2>
        <input type="submit" value="CRIAR TABELA ADMIN" name="createAdmin">
        <input type="submit" value="CRIAR TABELA NOTICIA" name="createNoticia">
        <br>
        <h2>Administradores</h2>
        <input type="submit" value="ADICIONAR ADMIN PAULO" name="addAdminPaulo">
        <input type="submit" value="ADICIONAR ADMIN VINI" name="addAdminVini">
    </form>
</body>
</html>